  <template name="HomeLayout">
    {{> Header}}
    <main class="main-body home">
      <div class="billboard"></div>
        <div class="container seed-promo">
          <img src="">
          <div class="seed-promo-text">
            <h1>Your Seed App!</h1>
            <div class="promo-text">We take you from off-the-cuff recreational gardener to planning in a few simple taps!</div>
          </div>
        </div>

      <div class="login-buttons-dropdown-align-" id="login-buttons">Login</div>
      {{> loginButtons}}


      <div class="features"><div class="container">
        <div class="col-md-4 col-sm-6">
          <i class="fa fa-leaf"></i>
          <div class="feature-text">Use the app to figure out when your tomatoes will be ready!</div>
        </div>
        <div class="col-md-4 col-sm-6">
          <i class="fa fa-shopping-basket"></i>
          <div class="feature-text">Know what you planted last year!</div>
        </div>
        <div class="col-md-4 col-sm-6">
          <i class="fa fa-clock-o"></i>
          <div class="feature-text">Set reminders / alerts to know when you should plant something.</div>
        </div>
        <div class="col-md-4 col-sm-6">
          <i class="fa fa-fort-awesome"></i>
          <div class="feature-text">Use our garden plotting tool to keep track of what you planted last year!</div>
        </div>
        <div class="col-md-4 col-sm-6">
          <i class="fa fa-pagelines"></i>
          <div class="feature-text">Show others what you're growing!</div>
        </div>
        <div class="col-md-4 col-sm-6">
          <i class="fa fa-star"></i>
          <div class="feature-text">!</div>
        </div>
      </div></div>
    </main>
    {{> Footer}}
  </template>


